@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-weight: 300 !important;
    margin: 0px;
    margin-top: 120px;
}

#site-title {
    font-family: "Open Sans", sans-serif;
    display: inline;
}


.pera {
    font-style: normal;
    font-weight: lighter;
}

p{
    text-align: center;
}
a{
    text-decoration: none;
    margin: 0px;
    width: 100%;
    
}

#main-header {
    border-bottom: 1px solid #000;
    font-weight: bolder;
    background: rgba(48, 231, 255, 0.9);
    top: 0px;
    position: fixed;
    width: 100%;
    
}


#top-stories {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}


article {
    margin: auto;
    height: 300px;
    width: 250px;
    display: block;
    border: 1px solid #000;
    padding: 8px;
    margin: 0px;
    background: rgb(255, 222, 132);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    transition: box-shadow 500ms;
    background: 800ms;
}
article:hover{
    box-shadow: 10px 10px 30px rgb(53, 53, 53);
    background: rgb(96, 202, 252);
}

.article-image{
    height: 200px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}


.my-input, .my-input2, .my-textarea{
    display: block;
    width: 98%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px 20px;
    border: 1px solid rgb(177, 177, 177);
    resize: none;
}

.my-input:focus , .my-input2:focus , .my-textarea:focus{
    background: rgb(248, 238, 178);
    color: rgb(67, 71, 0);
    outline: none;
    border: 1px solid #000;
} 

article:active{
    opacity: .9;
}


.article-image{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#ft{
    margin-top: 200px;
    text-align: center;  
}
img{
    height: 80px;
    padding: 10px;
}


